@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  font-family: "Roboto", sans-serif;
}
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  height: 100vh;
  overflow: hidden;
}
#town,
#battleField,
#shop,
#house {
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}
#town {
  background-image: url(../img/backgrounds/town.jpg);
  display: block;
}
#battleField {
  background-image: url(../img/backgrounds/battlefield01.jpg);
  display: none;
}
#shop {
  background-image: url(../img/backgrounds/shop.png);
  display: none;
}
#house {
  background-image: url(../img/backgrounds/house03.jpg);
  display: none;
}

/*
move buttons
*/
#goBattle,
#goShop,
#goBackInShop,
#goHouse,
#goBackInHouse {
  height: 100px;
  width: 266px;
  font-size: 50px;
  border-radius: 25px;
  color: white;
  position: absolute;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition-duration: 0.3s;
  transition-property: box-shadow;
}
#goBattle:hover,
#goShop:hover,
#goBackInShop:hover,
#goHouse:hover,
#goBackInHouse:hover {
  box-shadow: 0 0 10px 0 rgba(255, 255, 255, 0.46);
}
#goBattle {
  top: 10px;
  left: 10px;
}
#goShop {
  top: 550px;
  left: 1000px;
}
#goBackInShop {
  top: 10px;
  left: 10px;
}
#goHouse {
  top: 200px;
  left: 1300px;
}
#goBackInHouse {
  top: 10px;
  left: 10px;
}

/*
character
*/
.character {
  background: url(../img/wizard.png);
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 400px;
  left: 190px;
  width: 400px;
  height: 555px;
}
#shopCharacter {
  top: 350px;
  left: 50px;
}

/*
battle
*/
#player {
  top: 300px;
  left: 100px;
}
#enemy {
  background: url(../img/enemy01.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 585px;
  width: 490px;
  position: absolute;
  top: 200px;
  left: 700px;
}
#btnAttack,
#btnSuperAttack {
  width: 110px;
  height: 60px;
  position: absolute;
  cursor: pointer;
  font-size: 20px;
  border-radius: 14px;
}
#btnAttack {
  top: 30px;
  left: 400px;
  background-color: rgb(64, 185, 255);
}
#btnSuperAttack {
  top: 30px;
  left: 620px;
  background-color: #ff5353;
}
#myHealthInfo,
#enemyHealthInfo {
  position: absolute;
  font-size: 40px;
  top: 135px;
}
#myHealthInfo {
  left: 260px;
}
#enemyHealthInfo {
  left: 850px;
}
#superAttackLoadingBar{
  position: absolute;
  width: 115px;
  height: 40px;
  top: 120px;
  left: 630px;
  background-color: red;
}
#superAttackLoader{
  width: 100%;
  height: 100%;
  background-color: rgb(36, 219, 36);
}
#winInfo,
#loseInfo {
  display: none;
  flex-direction: column;
  align-items: center;
  position: absolute;
  background-color: black;
  color: white;
  top: 230px;
  left: 450px;
  font-size: 40px;
  border-radius: 5%;
  box-shadow: black 0 0 20px 0;
}
#winInfo {
  width: 500px;
  height: 510px;
}
#loseInfo {
  width: 520px;
  height: 400px;
}

#winInfo > h2,
#loseInfo > h2 {
  margin: 20px 0 0 0;
  font-size: 80px;
}
#winInfo > div {
  display: flex;
  align-items: center;
}
#winInfo > p {
  margin-bottom: 0;
}
#winInfo > div > img {
  height: 30px;
}
#btnEndWinBattle,
#btnEndLoseBattle {
  background-color: white;
  width: 225px;
  height: 80px;
  cursor: pointer;
  font-size: 48px;
  transition: box-shadow, 0.3s;
  border-radius: 15px;
}
#btnEndWinBattle:hover,
#btnEndLoseBattle:hover {
  box-shadow: white 0 0 20px 0;
}

/*
shop
*/
#btnBuyBasicAttack,
#btnBuyHealth,
#btnBuySuperAttack,
#btnBuySuperPowerCouldown {
  display: flex;
  position: absolute;
  cursor: pointer;
  flex-direction: column;
  background-color: #ff5353;
  color: black;
  width: 235px;
  border-radius: 32px;
}
#btnBuyBasicAttack:hover,
#btnBuyHealth:hover,
#btnBuySuperAttack:hover,
#btnBuySuperPowerCouldown:hover {
  background-color: #ff2828;
}
#btnBuyBasicAttack div,
#btnBuyHealth div,
#btnBuySuperAttack div,
#btnBuySuperPowerCouldown div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 37px;
  font-size: 20px;
}
#btnBuyBasicAttack {
  top: 355px;
  left: 960px;
}
#btnBuyHealth {
  top: 355px;
  left: 1214px;
}
#btnBuySuperAttack {
  top: 510px;
  left: 960px;
}
#btnBuySuperPowerCouldown {
  top: 510px;
  left: 1214px;
}
#attackLevel,
#healthLevel,
#superAttackLevel,
#couldownLevel {
  margin-left: 5px;
}
#shop > button > h2 {
  margin: 2px auto 5px auto;
  font-size: 30px;
}
#coin {
  height: 20px;
  margin-left: 3px;
}
#attackDamageImg,
#healthImg,
#superAttackImg,
#couldownImg {
  height: 40px;
  margin-right: 5px;
}
#infoShop {
  display: flex;
  align-items: center;
  position: absolute;
  left: 650px;
  top: 10px;
  height: 90px;
  background-color: rgb(42 42 42);
  color: white;
  border: 1px solid white;
  border-radius: 70px;
  padding: 0 80px;
}
#coinsInfo {
  font-size: 50px;
}
#infoCoin {
  height: 35px;
  margin-left: 5px;
  left: 1px;
}
#noMoney{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: black;
  color: white;
  position: absolute;
  top: 300px;
  left: 600px;
  width: 550px;
  height: 250px;
  font-size: 38px;
  border-radius: 50px;
}
#noMoneyContinue{
  width: 250px;
  height: 80px;
  font-size: 45px;
  background-color: white;
  transition: box-shadow, 0.3s;
  border-radius: 35px;
}
#noMoneyContinue:hover{
  box-shadow: white 0 0 20px 0;
}
